include ../partials/head.pug
div(style="position: relative; min-height: 100vh;")
  div(style="padding-bottom: calc(1.25rem + 0.3125rem * 2 + 1rem)")
    include ../partials/header.pug
    div(class="container-fluid")
      //- aca va la pagina hasta footer. inicia con 1 tab
      h1= message
    
      br
    
      include ../partials/info.pug
    
      div(class="")
        form(method="post" action="/servicios/nuevo" id="formulario")
          div(class="flex-form-wrap")
            div(class="left-input input margin-top-and-bottom flex-form-item")
              input(type="text" name="servicio" id="servicio" placeholder="Solo puede ingresar letras" minlength=1, maxlength=255 required value=servicio.servicio?servicio.servicio:""
                      oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un nombre de servicio válido')" onchange="this.setAttribute('value', this.value);")
              div(class="input_border_focus")
              div(class="input_placeholder") Servicio a ofrecer *
            div(class="left-input input margin-top-and-bottom flex-form-item")
              select(name="zona" required value=servicio.zona?servicio.zona:"" onclick="if(this.opened){this.opened=false;this.blur();}else{this.opened=true;}" onblur="this.opened=false;" onchange="this.setAttribute('value', this.value);")
                option(value hidden selected=servicio.zona?null:"" disabled)
                option(value="La Plata" selected=servicio.zona=="La Plata"?"":null) La Plata
                option(value="Villa Elisa" selected=servicio.zona=="Villa Elisa"?"":null) Villa Elisa
                option(value="Tolosa" selected=servicio.zona=="Tolosa"?"":null) Tolosa
                option(value="City Bell" selected=servicio.zona=="City Bell"?"":null) City Bell
              div(class="input_border_focus")
              div(class="input_placeholder") Zona *
          div(class="flex-form-wrap")
            div(class="left-input input margin-top-and-bottom flex-form-item")
              input(type="text" name="nombre" id="nombre" placeholder="Solo puede ingresar letras" minlength=1, maxlength=255 required value=servicio.nombre?servicio.nombre:""
                      oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un nombre válido')" onchange="this.setAttribute('value', this.value);")
              div(class="input_border_focus")
              div(class="input_placeholder") Nombre *
            div(class="left-input input margin-top-and-bottom flex-form-item")
              input(type="text" name="apellido" id="apellido" placeholder="Solo puede ingresar letras" minlength=1, maxlength=255 required value=servicio.apellido?servicio.apellido:""
                      oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un apellido válido')" onchange="this.setAttribute('value', this.value);")
              div(class="input_border_focus")
              div(class="input_placeholder") Apellido *
          div(class="margin-top-and-bottom horizontal-margin-center" style="padding: 0 1em; width: 34rem; max-width: 100%;")
            div(class="d-flex" style="position: relative; flex-wrap: wrap; justify-content: space-evenly; padding: .5em; background-color: white; border:1px solid #dadce0; border-radius: .375em;")
              div(style="position: absolute; margin-top: -.5em; left: 7px; padding: 0 8px;")
                div(style="font-size: .84375em; margin-top: -.5em; line-height: 1em; user-select: none; text-shadow: 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white;") Días *
              div(class="form-check")
                label(class="form-check-label" for="lunesCheck")
                  input(class="check-input form-check-input" type="checkbox" value="Lunes" id="lunesCheck" name="Lunes" checked=servicio.Lunes != undefined?"":null)
                  .
                    Lunes
              div(class="form-check")
                label(class="form-check-label" for="martesCheck")
                  input(class="check-input form-check-input" type="checkbox" value="Martes" id="martesCheck" name="Martes" checked=servicio.Martes != undefined?"":null)
                  .
                    Martes
              div(class="form-check")
                label(class="form-check-label" for="miercolesCheck")
                  input(class="check-input form-check-input" type="checkbox" value="Miércoles" id="miercolesCheck" name="Miercoles" checked=servicio.Miercoles != undefined?"":null)
                  .
                    Miércoles
              div(class="form-check")
                label(class="form-check-label" for="juevesCheck")
                  input(class="check-input form-check-input" type="checkbox" value="Jueves" id="juevesCheck" name="Jueves" checked=servicio.Jueves != undefined?"":null)
                  .
                    Jueves
              div(class="form-check")
                label(class="form-check-label" for="viernesCheck")
                  input(class="check-input form-check-input" type="checkbox" value="Viernes" id="viernesCheck" name="Viernes" checked=servicio.Viernes != undefined?"":null)
                  .
                    Viernes
              div(class="form-check")
                label(class="form-check-label" for="sabadoCheck")
                  input(class="check-input form-check-input" type="checkbox" value="Sábado" id="sabadoCheck" name="Sabado" checked=servicio.Sabado != undefined?"":null)
                  .
                    Sábado
              div(class="form-check")
                label(class="form-check-label" for="domingoCheck")
                  input(class="check-input form-check-input" type="checkbox" value="Domingo" id="domingoCheck" name="Domingo" checked=servicio.Domingo != undefined?"":null)
                  .
                    Domingo
          div(class="flex-form-wrap")
            div(class="left-input input margin-top-and-bottom flex-form-item")
              input(type="time" name="horario_inicio" id="horario_inicio" required value=servicio.horario_inicio?servicio.horario_inicio:"" onchange="this.setAttribute('value', this.value);")
              div(class="input_border_focus")
              div(class="input_placeholder") Horario de inicio *
            div(class="left-input input margin-top-and-bottom flex-form-item")
              input(type="time" name="horario_fin" id="horario_fin" required value=servicio.horario_fin?servicio.horario_fin:"" onchange="this.setAttribute('value', this.value);")
              div(class="input_border_focus")
              div(class="input_placeholder") Horario de fin *
          div(class="margin-top-and-bottom horizontal-margin-center" style="padding: 0 1em; width: 26rem; max-width: 100%;")
            div(class="left-input input")
              input(type="email" name="email_contacto" id="email_contacto", placeholder="name@mail.com" minlength=5, maxlength=255 value=servicio.email_contacto
                      oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un email válido')" onchange="this.setAttribute('value', this.value);")
              div(class="input_border_focus")
              div(class="input_placeholder") Email *
          input(type="submit" class="btn btn-info" value="Publicar") 
    
        br
        a(href="/servicios")
          button(type="button" class="btn btn-info") Cancelar
    
    script(src="/js/validacionNuevoServicio.js") 
  include ../partials/footer.pug