include ../partials/head.pug
include ../partials/header.pug
div(class="container-fluid")
  //- aca va la pagina hasta footer. inicia con 1 tab
  h1= message

  br
  br

  include ../partials/info.pug

  div(class="")
    form(method="post" action="/servicios/nuevo" id="formulario")
      div(class="mb-3")
        label(for="servicio" class="form-label")
          b Servicio a ofrecer *
        input(type="text" class="form-control" name="servicio" id="servicio" minlength=1, maxlength=100 required value=servicio.servicio)
      div(class="mb-3")
        label(for="nombre" class="form-label")
          b Nombre *
        input(type="text" class="form-control" name="nombre" id="nombre" minlength=1, maxlength=100 required value=servicio.nombre)
      div(class="mb-3")
        label(for="apellido" class="form-label")
          b Apellido *
        input(type="text" class="form-control" name="apellido" id="apellido" minlength=1, maxlength=100 required value=servicio.apellido)
      div(class="mb-3")
        label(for="zona" class="form-label")
          b Zona *
        select(class="form-select" aria-label="Default select example", name="zona" required value=servicio.zona)
          if servicio.zona 
            option(value=servicio.zona selected) #{servicio.zona}
          option(value="La Plata") La Plata
          option(value="Villa Elisa") Villa Elisa
          option(value="Tolosa") Tolosa
          option(value="City Bell") City Bell
      div(class="mb-3") 
        b Días *
        div(class="form-check" style="width:16vw")
          label(class="form-check-label" for="flexCheckDefault") Lunes
          if servicio.Lunes != undefined
            input(class="form-check-input" type="checkbox" value="Lunes" id="flexCheckDefault" name="Lunes"  checked )
          else 
            input(class="form-check-input" type="checkbox" value="Lunes" id="flexCheckDefault" name="Lunes"   )
        div(class="form-check" style="width:16vw")  
          label(class="form-check-label" for="flexCheckDefault") Martes
          if servicio.Martes != undefined
            input(class="form-check-input" type="checkbox" value="Martes" id="flexCheckDefault" name="Martes" checked ) 
          else 
            input(class="form-check-input" type="checkbox" value="Martes" id="flexCheckDefault" name="Martes") 
        div(class="form-check" style="width:16vw")  
          label(class="form-check-label" for="flexCheckDefault") Miércoles
          if servicio.Miercoles != undefined
            input(class="form-check-input" type="checkbox" value="Miercoles" id="flexCheckDefault" name="Miercoles" checked ) 
          else 
            input(class="form-check-input" type="checkbox" value="Miercoles" id="flexCheckDefault" name="Miercoles") 
        div(class="form-check" style="width:16vw")  
          label(class="form-check-label" for="flexCheckDefault") Jueves
          if servicio.Jueves != undefined
            input(class="form-check-input" type="checkbox" value="Jueves" id="flexCheckDefault" name="Jueves" checked ) 
          else 
            input(class="form-check-input" type="checkbox" value="Jueves" id="flexCheckDefault" name="Jueves") 
        div(class="form-check" style="width:16vw")  
          label(class="form-check-label" for="flexCheckDefault") Viernes
          if servicio.Viernes != undefined
            input(class="form-check-input" type="checkbox" value="Viernes" id="flexCheckDefault" name="Viernes" checked ) 
          else 
            input(class="form-check-input" type="checkbox" value="Viernes" id="flexCheckDefault" name="Viernes") 
        div(class="form-check" style="width:16vw")  
          label(class="form-check-label" for="flexCheckDefault") Sábado
          if servicio.Sabado != undefined
            input(class="form-check-input" type="checkbox" value="Sabado" id="flexCheckDefault" name="Sabado" checked ) 
          else 
            input(class="form-check-input" type="checkbox" value="Sabado" id="flexCheckDefault" name="Sabado") 
        div(class="form-check" style="width:16vw")  
          label(class="form-check-label" for="flexCheckDefault") Domingo
          if servicio.Domingo != undefined
            input(class="form-check-input" type="checkbox" value="Domingo" id="flexCheckDefault" name="Domingo" checked ) 
          else 
            input(class="form-check-input" type="checkbox" value="Domingo" id="flexCheckDefault" name="Domingo") 
      div(class="mb-3")
        label(for="horario_inicio" class="form-label")
          b Horario de inicio *
        input(type="time" class="form-control" name="horario_inicio" id="horario_inicio" required value=servicio.horario_inicio)
      div(class="mb-3")
        label(for="horario_fin" class="form-label")
          b Horario de fin *
        input(type="time" class="form-control" name="horario_fin" id="horario_fin" required value=servicio.horario_fin)
      div(class="mb-3")
        label(for="email_contacto" class="form-label")
          b Email *
        input(type="email" class="form-control" name="email_contacto" id="email_contacto", minlength=7, maxlength=100 value=servicio.email_contacto)
      input(type="submit" class="btn btn-info" value="Publicar") 

    br
    a(href="/servicios")
      button(type="button" class="btn btn-info") Cancelar

script(src="/js/validacionNuevoServicio.js") 
include ../partials/footer.pug