include ../partials/head.pug
div(style="position: relative; min-height: 100vh;")
  div(style="padding-bottom: calc(1.25rem + 0.3125rem * 2 + 1rem)")
    include ../partials/header.pug
    div(class="container-fluid")
      //- aca va la pagina hasta footer. inicia con 1 tab
      h1= message
    
      br
      br
    
      include ../partials/info.pug
    
      div(class="")
        form(action="#")
          div(class="flex-form-wrap")
            div(class="left-input input mb-3 flex-form-item")
              input(type="text" id="servicio" disabled value=servicio.servicio?servicio.servicio:"")
              div(class="input_border_focus")
              div(class="input_placeholder") Servicio
              input(type="hidden" class="form-control" name="servicio" id="servicio" value=servicio.servicio) 
            div(class="left-input input mb-3 flex-form-item")
              input(type="text" id="zona" disabled value=servicio.zona?servicio.zona:"")
              div(class="input_border_focus")
              div(class="input_placeholder") Zona
              input(type="hidden" class="form-control" name="zona" id="zona" value=servicio.zona)
          div(class="flex-form-wrap")
            div(class="left-input input mb-3 flex-form-item")
              input(type="text" id="nombre" disabled value=servicio.nombre?servicio.nombre:"")
              div(class="input_border_focus")
              div(class="input_placeholder") Nombre
              input(type="hidden" class="form-control" name="nombre" id="nombre" value=servicio.nombre)
            div(class="left-input input mb-3 flex-form-item")
              input(type="text" class="form-control" id="apellido" disabled value=servicio.apellido?servicio.apellido:"")
              div(class="input_border_focus")
              div(class="input_placeholder") Apellido
              input(type="hidden" class="form-control" name="apellido" id="apellido" value=servicio.apellido)
          div(class="mb-3 horizontal-margin-center" style="padding: 0 1em; width: 45rem; max-width: 100%;")
            div(class="left-input input")
              input(type="text" class="form-control" id="horario" disabled value=servicio.horario?servicio.horario:"")
              div(class="input_border_focus")
              div(class="input_placeholder") Horario
              input(type="hidden" class="form-control" name="horario" id="horario" value=servicio.horario)
    
        if !esPropia
          br
          div(class="container-fluid")
            form(action="/servicios/contactar" method="post" id="contacto") 
              h4 ¡Contactate!
              if !sesion.nombre
                div(class="left-input input mb-3 flex-form-item" style="margin: auto;")
                  input(type="text" name="nombre" id="nombre" placeholder="Solo puede ingresar letras" required value=nombre?nombre:"" onchange="this.setAttribute('value', this.value);")
                  div(class="input_border_focus")
                  div(class="input_placeholder") Nombre
                div(class="left-input input mb-3 flex-form-item" style="margin: auto;")
                  input(type="email" name="email" id="email" placeholder="nombre@mail.com" required value=email?email:"" onchange="this.setAttribute('value', this.value);")
                  div(class="input_border_focus")
                  div(class="input_placeholder") Email
              label(for="servicio" class="form-label")  
              input(type="hidden" class="form-control" name="servicio" id="servicio" value=servicio.servicio) 
              label(for="zona" class="form-label") 
              input(type="hidden" class="form-control" name="zona" id="zona" value=servicio.zona)
              label(for="horario" class="form-label") 
              input(type="hidden" class="form-control" name="horario" id="horario" value=servicio.horario)
              label(for="id" class="form-label") 
              input(type="hidden" class="form-control" name="id" id="id" value=servicio.id)
              input(type="submit" class="btn btn-info" value="Contactar adopción")  
        br
        a(href="/servicios")
          button(type="button" class="btn btn-info") Atrás  
    
    
  include ../partials/footer.pug