include ../partials/head.pug
include ../partials/header.pug
div(class="container-fluid")
  //- aca va la pagina hasta footer. inicia con 1 tab
  h1= message

  br
  br

  include ../partials/info.pug

  div(class="")
    form(action="#")
      div(class="mb-3")
        label(for="servicio" class="form-label") Servicio 
        input(type="text" class="form-control" name="servicio" id="servicio" required readonly value=servicio.servicio) 
      div(class="mb-3")
        label(for="nombre" class="form-label") Nombre
        input(type="text" class="form-control" name="nombre" id="nombre" required readonly value=servicio.nombre)
      div(class="mb-3")
        label(for="apellido" class="form-label") Apellido
        input(type="text" class="form-control" name="apellido" id="apellido" required readonly value=servicio.apellido)
      div(class="mb-3")
        label(for="zona" class="form-label") Zona
        input(type="text" class="form-control" name="zona" id="zona" required readonly value=servicio.zona)
      div(class="mb-3")
        label(for="horario" class="form-label") Horario
        input(type="text" class="form-control" name="horario" id="horario" required readonly value=servicio.horario)

    br
    div(class="container-fluid")
      form(action="/servicios/contactar" method="post" id="contacto") 
        h4 Contactate!
        if !sesion.nombre
          div(class="mb-3")
            label(for="nombre" class="form-label") Nombre
            input(type="text" class="form-control" name="nombre" id="nombre" required value=nombre)
          div(class="mb-3")
            label(for="email" class="form-label") Email
            input(type="email" class="form-control" name="email" id="email" required value=email)
        label(for="servicio" class="form-label")  
        input(type="hidden" class="form-control" name="servicio" id="servicio" value=servicio.servicio) 
        label(for="zona" class="form-label") 
        input(type="hidden" class="form-control" name="zona" id="zona" value=servicio.zona)
        label(for="horario" class="form-label") 
        input(type="hidden" class="form-control" name="horario" id="horario" value=servicio.horario)
        label(for="id" class="form-label") 
        input(type="hidden" class="form-control" name="id" id="id" value=servicio.id)
        input(type="submit" class="btn btn-info" value="Contactar adopcion ")  
      br
      a(href="/servicios")
        button(type="button" class="btn btn-info") Atrás  


include ../partials/footer.pug