include ../partials/head.pug
include ../partials/header.pug
div(class="container-fluid")
  //- aca va la pagina hasta footer. inicia con 1 tab
  h1= message

  br
  br

  include ../partials/info.pug

  div(class="")
    form(method="post" action="/perros/"+perro.id+"/modificar" id="formulario")
      div(class="mb-3")
        label(for="nombre" class="form-label")
          b Nombre *
        input(type="text" class="form-control" name="nombre" id="nombre" placeholder="Solo puede ingresar letras" maxlength=255, minlength=1, required value=perro.nombre
                oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un nombre v치lido')")
      div(class="mb-3")
        label(for="raza" class="form-label")
          b Raza *
        input(type="text" class="form-control" name="raza" id="raza" placeholder="Solo puede ingresar letras" maxlength=255, minlength=1, required value=perro.raza
                oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese una raza v치lida')")
      div(class="mb-3")
        label(for="color" class="form-label")
          b Color *
        input(type="text" class="form-control" name="color" id="color" placeholder="Solo puede ingresar letras" maxlength=255, minlength=1, required value=perro.color
                oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un color v치lido')")
      div(class="mb-3")
        label(for="observaciones" class="form-label")
          b Observaciones *
        input(type="text" class="form-control" name="observaciones" id="observaciones" placeholder="Solo puede ingresar letras" maxlength=255, minlength=1, required value=perro.observaciones
                oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un texto de observaciones v치lido')")
      div(class="mb-3")
        label(for="fecha_nacimiento" class="form-label")
          b Fecha de nacimiento *
        input(type="date" class="form-control" name="fecha_nacimiento" id="fecha_nacimiento", max=hoy required value=perro.fecha_nacimiento
                oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('No puede ingresar fechas futuras')")
      div(class="mb-3")
        label(for="clienteId" class="form-label") 
        input(type="hidden" class="form-control" name="clienteId" id="clienteId", value=perro.clienteId)
      div(class="mb-3")
        label(for="id" class="form-label") 
        input(type="hidden" class="form-control" name="id" id="id", value=perro.id)
      input(type="submit" class="btn btn-info" value="Modificar") 

    
    br
    div(class="container-fluid")
      a(href="/perros")
        button(type="button" class="btn btn-info") Cancelar 



include ../partials/footer.pug