include ../partials/head.pug
include ../partials/header.pug
div(class="container-fluid")
  //- aca va la pagina hasta footer. inicia con 1 tab
  h1= message

  br
  br

  include ../partials/info.pug

  div(class="")
    if(perro.link_foto)
      img(src=perro.link_foto width="100vw")
    form(action="#")
      div(class="mb-3")
        label(for="nya" class="form-label") 
          b Nombre y apellido del dueño
        input(type="text" class="form-control" id="nya" disabled value=perro.cliente.nombre+" "+perro.cliente.apellido)
        input(type="hidden" class="form-control" name="nya" id="nya" value=perro.cliente.nombre+" "+perro.cliente.apellido)
      div(class="mb-3")
        label(for="nombre" class="form-label") 
          b Nombre del perro
        input(type="text" class="form-control" id="nombre" disabled value=perro.nombre)
        input(type="hidden" class="form-control" name="nombre" id="nombre" value=perro.nombre)
      div(class="mb-3")
        label(for="raza" class="form-label") 
          b Raza
        input(type="text" class="form-control" id="raza" disabled value=perro.raza)
        input(type="hidden" class="form-control" name="raza" id="raza" value=perro.raza)
      div(class="mb-3")
        label(for="color" class="form-label") 
          b Color
        input(type="text" class="form-control" id="color" disabled value=perro.color)
        input(type="hidden" class="form-control" name="color" id="color" value=perro.color)
      div(class="mb-3")
        label(for="observaciones" class="form-label") 
          b Observaciones
        input(type="text" class="form-control" id="observaciones" disabled value=perro.observaciones)
        input(type="hidden" class="form-control" name="observaciones" id="observaciones" value=perro.observaciones)
      div(class="mb-3")
        label(for="fecha_nacimiento" class="form-label") 
          b Fecha de nacimiento
        input(type="date" class="form-control" id="fecha_nacimiento" disabled value=perro.fecha_nacimiento.toISOString().slice(0,10))
        input(type="hidden" class="form-control" name="fecha_nacimiento" id="fecha_nacimiento" value=perro.fecha_nacimiento.toISOString().slice(0,10))

    br
    div(class="container-fluid")
      a(href="/perros/"+perro.id+"/modificar")
        button(type="button" class="btn btn-info") Modificar datos
      span  
      a(href="/perros/"+perro.id+"/agregarFoto")
        button(type="button" class="btn btn-info") Añadir foto


include ../partials/footer.pug