include ../partials/head.pug
include ../partials/header.pug
div(class="container-fluid")
  //- aca va la pagina hasta footer. inicia con 1 tab
  h1= message

  br
  br

  include ../partials/info.pug

  div(class="")
    form(method="post" action="/perros/registrar" id="formulario")
      div(class="mb-3")
        label(for="clienteNombre" class="form-label") 
          b Nombre del dueño
        input(type="text" class="form-control" id="clienteNombre", value=cliente.nombre disabled)
        input(type="hidden" class="form-control" name="clienteNombre" id="clienteNombre", value=cliente.nombre)
      div(class="mb-3")
        label(for="clienteApellido" class="form-label") 
          b Apellido del dueño
        input(type="text" class="form-control" id="clienteApellido", value=cliente.apellido disabled)
        input(type="hidden" class="form-control" name="clienteApellido" id="clienteApellido", value=cliente.apellido)
      div(class="mb-3")
        label(for="clienteEmail" class="form-label") 
          b Email del dueño
        input(type="text" class="form-control" id="clienteEmail", value=cliente.email disabled)
        input(type="hidden" class="form-control" name="clienteEmail" id="clienteEmail", value=cliente.email)
      div(class="mb-3")
        label(for="nombre" class="form-label") 
          b Nombre
        input(type="text" class="form-control" name="nombre" id="nombre" required value=perro.nombre)
      div(class="mb-3")
        label(for="raza" class="form-label") 
          b Raza
        input(type="text" class="form-control" name="raza" id="raza" required value=perro.raza)
      div(class="mb-3")
        label(for="color" class="form-label") 
          b Color
        input(type="text" class="form-control" name="color" id="color" required value=perro.color)
      div(class="mb-3")
        label(for="observaciones" class="form-label") 
          b Observaciones
        input(type="text" class="form-control" name="observaciones" id="observaciones" required value=perro.observaciones)
      div(class="mb-3")
        label(for="fecha_nacimiento" class="form-label") 
          b Fecha de nacimiento
        input(type="date" class="form-control" name="fecha_nacimiento" id="fecha_nacimiento" required value=perro.fecha_nacimiento)
      div(class="mb-3")
        label(for="clienteId" class="form-label") 
        input(type="hidden" class="form-control" name="clienteId" id="clienteId", value=perro.clienteId)
      input(type="submit" class="btn btn-info" value="Registrar perro") 

    br
    a(href="/clientes")
      button(type="button" class="btn btn-info") Cancelar

script(src="/js/validacionRegistroPerro.js") 
include ../partials/footer.pug