include ../partials/head.pug
div(style="position: relative; min-height: 100vh;")
  div(style="padding-bottom: calc(1.25rem + 0.3125rem * 2 + 1rem)")
    include ../partials/header.pug
    div(class="container-fluid")
      //- aca va la pagina hasta footer. inicia con 1 tab
      h1= message
    
      br
      br
    
      include ../partials/info.pug
    
      div(class="")
        form(action="#" class="flex-form-wrap")
          div(class="left-input input mb-3 flex-form-item")
            input(type="email" id="email" disabled value=cliente.email?cliente.email:"" onchange="this.setAttribute('value', this.value);")
            div(class="input_border_focus")
            div(class="input_placeholder") Email
            input(type="hidden" class="form-control" name="email" id="email" value=cliente.email)
          div(class="left-input input mb-3 flex-form-item" style="width: 15rem;min-width: 15rem;")
            input(type="text" id="nombre" disabled value=cliente.nombre?cliente.nombre:"" onchange="this.setAttribute('value', this.value);")
            div(class="input_border_focus")
            div(class="input_placeholder") Nombre
            input(type="hidden" class="form-control" name="nombre" id="nombre" value=cliente.nombre)
          div(class="left-input input mb-3 flex-form-item" style="width: 15rem;min-width: 15rem;")
            input(type="text" id="apellido" disabled value=cliente.apellido?cliente.apellido:"" onchange="this.setAttribute('value', this.value);")
            div(class="input_border_focus")
            div(class="input_placeholder") Apellido
            input(type="hidden" class="form-control" name="apellido" id="apellido" value=cliente.apellido)
          div(class="left-input input mb-3 flex-form-item" style="width: 7rem;min-width: 7rem;")
            input(type="number" id="dni" disabled value=cliente.dni?cliente.dni:"" onchange="this.setAttribute('value', this.value);")
            div(class="input_border_focus")
            div(class="input_placeholder") DNI
            input(type="hidden" class="form-control" name="dni" id="dni" value=cliente.dni)
          div(class="left-input input mb-3 flex-form-item" style="width: 10rem;min-width: 10rem;")
            input(type="number" id="telefono" disabled value=cliente.telefono?cliente.telefono:"" onchange="this.setAttribute('value', this.value);")
            div(class="input_border_focus")
            div(class="input_placeholder") Teléfono
            input(type="hidden" class="form-control" name="telefono" id="telefono" value=cliente.telefono)
    
        br
        div(class="container-fluid")
          a
            button(type="button" disabled class="btn btn-info") Modificar datos
          span  
          a(href="/clientes/ver/"+cliente.id+"/mascotas")
            button(type="button" class="btn btn-info") Ver mascotas 
          span  
          a(href="/clientes")
            button(type="button" class="btn btn-info") Atrás 
    
    
    
  include ../partials/footer.pug