include ../partials/head.pug
include ../partials/header.pug
div(class="container-fluid")
  //- aca va la pagina hasta footer. inicia con 1 tab
  h1= message

  br
  br

  include ../partials/info.pug

  a(href="/clientes/registrar") 
    button(type="button" class="btn btn-info") Nuevo cliente

  br
  br

  form(class="d-flex" role="search" method="post" action="/clientes/" id="formulario")
    input(class="form-control me-2" type="search" placeholder="nombre" id="nombre" aria-label="Search" value=nombre, name="nombre")
    input(class="btn btn-info" type="submit" value="Buscar") 

  br
  br

  table(class="table table-striped table-info table-hover")
    thead 
      tr 
        th Nombre y apellido
        th Email
        th Ver Datos
        th Eliminar
    tbody 
    if(clientes)
      each cliente in clientes
        tr  
          td #{cliente.nombre} #{cliente.apellido}
          td #{cliente.email}
          td 
            a
              button(type="button" class="btn btn-info") Ver 
          td 
            a 
              button(type="button" class="btn btn-info") Eliminar
    else 
      tr 
        td
        td No se encontraron clientes
        td 
        td

script(src="/js/validacionBusquedaCliente.js")
include ../partials/footer.pug