include ../partials/head.pug
div(style="position: relative; min-height: 100vh;")
  div(style="padding-bottom: calc(1.25rem + 0.3125rem * 2 + 1rem)")
    include ../partials/header.pug
    div(class="container-fluid")
      //- aca va la pagina hasta footer. inicia con 1 tab
      h1= message
    
      br
    
      include ../partials/info.pug
      br
    
      div(class="flex-form-wrap" style="margin-left: 1rem;")
        if(mascotas)
          each mascota in mascotas
        
            div(class="text-center" style="width: 20vw; margin: 0 1rem 1rem 0;")
              div(class="card")
                if(mascota.link_foto)
                  img(src= mascota.link_foto class="card-img-top" alt="...")
                  div(class="card-body")
                      h5(class="card-title") #{mascota.nombre}
                      p(class="card-text") Raza:  #{mascota.raza} 
                      p(class="card-text") Color:  #{mascota.color}
                      p(class="card-text") Observaciones: #{mascota.observaciones}
                      a(href="/perros/ver/"+mascota.id)
                        button(type="button" class="btn btn-info") Ver detalles
                  
                else
                  div(class="card-body")
                      h5(class="card-title") #{mascota.nombre}
                      p(class="card-text") Raza:  #{mascota.raza} 
                      p(class="card-text") Color:  #{mascota.color}
                      p(class="card-text") Observaciones: #{mascota.observaciones}
                      a(href="/perros/ver/"+mascota.id)
                        button(type="button" class="btn btn-info") Ver detalles
          br
    
      
      a(href="/clientes/ver/"+idCliente)
        button(type="button" class="btn btn-info") Volver
      
    
      br
    
    
    
  include ../partials/footer.pug