include ../partials/head.pug
div(style="position: relative; min-height: 100vh;")
  div(style="padding-bottom: calc(1.25rem + 0.3125rem * 2 + 1rem)")
    include ../partials/header.pug
    div(class="container-fluid")
      //- aca va la pagina hasta footer. inicia con 1 tab
      h1= message
    
      br
      br
    
      include ../partials/info.pug
    
      div(class="")
        form(method="post" action="/clientes/registrar" id="formulario")
          div(class="mb-3")
            label(for="email" class="form-label")
              b Email *
            input(type="email" class="form-control" name="email" id="email", placeholder="name@mail.com" minlength=5, maxlenght=255, required value=cliente.email
                    oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un email válido')")
          div(class="mb-3")
            label(for="nombre" class="form-label")
              b Nombre *
            input(type="text" class="form-control" name="nombre" id="nombre", placeholder="Solo puede ingresar letras" minlength=1, maxlenght=255, required value=cliente.nombre
                    oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un nombre válido')")
          div(class="mb-3")
            label(for="apellido" class="form-label")
              b Apellido *
            input(type="text" class="form-control" name="apellido" id="apellido", placeholder="Solo puede ingresar letras" minlength=1, maxlenght=255, required value=cliente.apellido
                    oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un apellido válido')")
          div(class="mb-3")
            label(for="dni" class="form-label")
              b DNI *
            input(type="number" class="form-control" name="dni" id="dni" placeholder="Ingrese un número de 7 a 9 cifras" min=1000000, max=100000000 required value=cliente.dni
                    oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un DNI válido')")
          div(class="mb-3")
            label(for="telefono" class="form-label")
              b Teléfono (Cod. área sin 0 + número)
            input(type="number" class="form-control" name="telefono" id="telefono" placeholder="Ingrese un número de 10 cifras" min=1100000000 max=9999999999 value=cliente.telefono
                    oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un teléfono válido')")
          input(type="submit" class="btn btn-info" value="Registrar cliente") 
    
        br
        a(href="/clientes")
          button(type="button" class="btn btn-info") Cancelar
     
    script(src="/js/validacionRegistroCliente.js")
  include ../partials/footer.pug