include ../partials/head.pug
div(style="position: relative; min-height: 100vh;")
  div(style="padding-bottom: calc(1.25rem + 0.3125rem * 2 + 1rem)")
    include ../partials/header.pug
    div(class="container-fluid")
      //- aca va la pagina hasta footer. inicia con 1 tab
      h1= message
    
      br
      br
    
      include ../partials/info.pug
    
      div(class="")
        form(method="post" action="/clientes/registrar" id="formulario" class="flex-form-wrap")
          div(class="left-input input mb-3 flex-form-item")
            input(type="email" name="email" id="email", placeholder="name@mail.com" minlength=5, maxlenght=255, required value=cliente.email?cliente.email:""
                    oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un email válido')" onchange="this.setAttribute('value', this.value);")
            div(class="input_border_focus")
            div(class="input_placeholder") Email *
          div(class="left-input input mb-3 flex-form-item" style="width: 15rem;min-width: 15rem;")
            input(type="text" name="nombre" id="nombre", placeholder="Solo puede ingresar letras" minlength=1, maxlenght=255, required value=cliente.nombre?cliente.nombre:""
                    oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un nombre válido')" onchange="this.setAttribute('value', this.value);")
            div(class="input_border_focus")
            div(class="input_placeholder") Nombre *
          div(class="left-input input mb-3 flex-form-item" style="width: 15rem;min-width: 15rem;")
            input(type="text" name="apellido" id="apellido", placeholder="Solo puede ingresar letras" minlength=1, maxlenght=255, required value=cliente.apellido?cliente.apellido:""
                    oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un apellido válido')" onchange="this.setAttribute('value', this.value);")
            div(class="input_border_focus")
            div(class="input_placeholder") Apellido *
          div(class="left-input input mb-3 flex-form-item" style="width: 19rem;min-width: 19rem;/*width: 7rem;*//*min-width: 7rem;*/")
            input(type="number" name="dni" id="dni" placeholder="Ingrese un número de 7 a 9 cifras" min=1000000, max=100000000 required value=cliente.dni?cliente.dni:""
                    oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un DNI válido')" onchange="this.setAttribute('value', this.value);")
            div(class="input_border_focus")
            div(class="input_placeholder") DNI *
          div(class="left-input input mb-3 flex-form-item" style="width: 20rem;min-width: 20rem;")
            input(type="number" name="telefono" id="telefono" placeholder="Ingrese un número de 10 cifras" min=1100000000 max=9999999999 value=cliente.telefono?cliente.telefono:""
                    oninput="this.setCustomValidity('')", oninvalid="this.setCustomValidity('Ingrese un teléfono válido')" onchange="this.setAttribute('value', this.value);")
            div(class="input_border_focus")
            div(class="input_placeholder") Teléfono (Cod. área sin 0 + número)
          input(type="submit" class="btn btn-info" value="Registrar cliente" style="margin: 0 40%")
    
        br
        a(href="/clientes")
          button(type="button" class="btn btn-info") Cancelar
     
    script(src="/js/validacionRegistroCliente.js")
  include ../partials/footer.pug