include ../partials/head.pug
include ../partials/header.pug
div(class="container-fluid")
  //- aca va la pagina hasta footer. inicia con 1 tab
  h1= message

  br
  br

  include ../partials/info.pug

  div(class="")
    form(method="post" action="/donaciones/nuevo" id="formulario")
      div(class="mb-3")
        label(for="nombre" class="form-label")
          b Nombre de la campa침a de donaci칩n *
        input(type="text" class="form-control" name="nombre" id="nombre" minlegth=1, maxlength=100 required value=donacion.nombre)
      div(class="mb-3")
        label(for="monto" class="form-label")
          b Monto a alcanzar *
        input(type="number" class="form-control" name="monto" id="monto" min=1 required value=donacion.monto)
      div(class="mb-3")
        label(for="fecha_fin" class="form-label")
          b Fecha de finalizaci칩n *
        input(type="date" class="form-control" name="fecha_fin" id="fecha_fin" min=ma침ana required value=donacion.fecha_fin)
      
      input(type="submit" class="btn btn-info" value="Publicar") 

    br
    a(href="/donaciones")
      button(type="button" class="btn btn-info") Cancelar

script(src="/js/validacionNuevaDonacion.js") 
include ../partials/footer.pug