include ../partials/head.pug
div(style="position: relative; min-height: 100vh;")
  div(style="padding-bottom: calc(1.25rem + 0.3125rem * 2 + 1rem)")
    - var selected_nav_link = "turnos";
    include ../partials/header.pug

    div(class="container-fluid")
      h1= message
    
      br
      br
    
      include ../partials/info.pug

      br
      br
    
      table(class="table table-striped table-info table-hover")
        thead 
          tr 
            th Perro
            th Pr&aacute;ctica
            th Fecha
            th Observaci&oacute;n
            th Peso
            th Medicamento
            th Cantidad Medicamento
        tbody 
        if historias
          each historia in historias
            tr
              td #{historia.perro.nombre}  
              td #{historia.practica}
              td #{historia.dia.toLocaleString().slice(0,10)}
              td #{historia.observaciones}
              td #{historia.peso}
              td #{historia.medicamento}
              td #{historia.cantMedicamento}
        else 
          tr 
            td
            td
            td
            td No se encontraron turnos
            td 
            td
            td
    
  include ../partials/footer.pug