include ../partials/head.pug
div(style="position: relative; min-height: 100vh;")
  div(style="padding-bottom: calc(1.25rem + 0.3125rem * 2 + 1rem)")
    - var selected_nav_link = "publicaciones";
    include ../partials/header.pug
    div(class="container-fluid")
      //- aca va la pagina hasta footer. inicia con 1 tab
      h1= message
    
      br
      br
    
      include ../partials/info.pug
    
      if (sesion.nivel == 1)
        a(href="/reencuentros/nuevo")
          button(type="button" class="btn btn-info") Crear publicación
    
      br
      br

      form(class="d-flex" role="search" method="post" action="/reencuentros" id="formulario" style="justify-content: center;")
        div(class="left-input input me-2")
          select(name="tipo" value="value" style="width: 15rem;" onclick="if(this.opened){this.opened=false;this.blur();}else{this.opened=true;}" onblur="this.opened=false;")
            option(value hidden selected=busqueda?null:"" disabled)
            option(value="" selected=busqueda=="Todos"?"":null) Todas las publicaciones
            option(value="Buscado" selected=busqueda=="Buscado"?"":null) Buscados
            option(value="Encontrado" selected=busqueda=="Encontrado"?"":null) Encontrados
          div(class="input_border_focus")
          div(class="input_placeholder") Filtrar por:
        input(class="btn btn-info" type="submit" value="Buscar") 

      br
      br
    
      table(class="table table-striped table-info table-hover")
        thead 
          tr 
            th Tipo publicación
            th Zona
            th Sexo
            th Fecha
            th Caracteristicas 
            th Ver detalles
        tbody 
        if(publicaciones.length > 0)
          each publicacion in publicaciones
            tr  
              td #{publicacion.tipo}
              td #{publicacion.zona}
              td #{publicacion.sexo}
              td #{publicacion.fecha.toISOString().slice(0,10)}
              td #{publicacion.caracteristicas?publicacion.caracteristicas:"-"}
              td 
                a(href="/reencuentros/ver/"+publicacion.id)
                  button(type="button" class="btn btn-info") Ver 
        else 
          tr 
            td
            td
            td No se encontraron publicaciones
            td 
            td
            td
    
  include ../partials/footer.pug